@import '../libs/theme.less';
@import '../libs/markdown.less';

.hoper-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.hoper-body {
  display: flex;
}
.hoper-content {
  display: flex;
  flex: 1;
}
.hoper-doc {
  flex: 1;
  padding: 0 30px;
}
